@import "tailwindcss";
@plugin "daisyui";

@layer base {
    #root {
        @apply min-h-screen flex flex-col
    }
}

@layer utilities {
    .container {
        @apply mx-auto px-4 w-full max-w-[68.75rem]
    }
}